# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv(r"Salaries.csv")

** Check the head of the DataFrame. **

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [13]:
sal[sal['Benefits'].notnull()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36159,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,NaN,San Francisco,NaN
36160,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,NaN,San Francisco,NaN
36161,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,NaN,San Francisco,NaN
36162,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN
36163,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,NaN,San Francisco,NaN
36164,36165,Amy Hart,Dept Head V,271607.74,0.00,19782.03,84681.82,291389.77,376071.59,2012,NaN,San Francisco,NaN
36165,36166,Edward Reiskin,"Gen Mgr, Public Trnsp Dept",294000.17,0.00,0.00,82001.94,294000.17,376002.11,2012,NaN,San Francisco,NaN
36166,36167,John Martin,Dept Head V,287747.89,0.00,5274.57,81824.37,293022.46,374846.83,2012,NaN,San Francisco,NaN
36167,36168,John Goldberg,Captain 3,104404.00,0.00,245999.41,24287.23,350403.41,374690.64,2012,NaN,San Francisco,NaN
36168,36169,David Franklin,Asst Chf of Dept (Fire Dept),204032.52,85503.16,26193.09,58486.10,315728.77,374214.87,2012,NaN,San Francisco,NaN
36169,36170,Brendan Ward,"Battlion Chief, Fire Suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN
36170,36171,Samson Lai,"Battlion Chief, Fire Suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN
36171,36172,Rudy Castellanos,"Battlion Chief, Fire Suppressi",176771.74,124413.13,15803.39,52320.90,316988.26,369309.16,2012,NaN,San Francisco,NaN
36172,36173,Marty Ross,"Battlion Chief, Fire Suppressi",174822.41,99623.51,36522.39,55353.92,310968.31,366322.23,2012,NaN,San Francisco,NaN
36173,36174,Mark Kearney,Assistant Deputy Chief 2,124573.50,22599.60,180516.68,32381.00,327689.78,360070.78,2012,NaN,San Francisco,NaN
36174,36175,Leda Rozier,Transit Manager 2,98211.01,0.00,200951.30,60285.44,299162.31,359447.75,2012,NaN,San Francisco,NaN
36175,36176,Ellen Moffatt,Asst Med Examiner,260528.26,3394.90,20400.00,73017.12,284323.16,357340.28,2012,NaN,San Francisco,NaN
36176,36177,Raymond Guzman,Dep Chf of Dept (Fire Dept),244102.02,24204.66,20232.29,64702.72,288538.97,353241.69,2012,NaN,San Francisco,NaN
36177,36178,Edward Harrington,Executive Contract Employee,232815.01,0.00,51564.01,67667.09,284379.02,352046.11,2012,NaN,San Francisco,NaN
36178,36179,Judy Melinek,Asst Med Examiner,260528.15,377.21,18425.37,72286.35,279330.73,351617.08,2012,NaN,San Francisco,NaN
36179,36180,Michael Morris,Assistant Deputy Chief 2,223371.00,7415.52,63426.03,56202.98,294212.55,350415.53,2012,NaN,San Francisco,NaN
36180,36181,Michael Rolovich,"Captain, Fire Suppression",145659.03,125868.06,30474.97,45129.03,302002.06,347131.09,2012,NaN,San Francisco,NaN
36181,36182,James Dudley,Deputy Chief 3,263426.50,0.00,22857.87,59265.59,286284.37,345549.96,2012,NaN,San Francisco,NaN
36182,36183,Mark Gonzales,Dep Chf of Dept (Fire Dept),252423.60,8357.25,15742.21,68783.23,276523.06,345306.29,2012,NaN,San Francisco,NaN
36183,36184,Harlan Kelly-Jr,Executive Contract Employee,249362.77,0.00,13810.69,80999.77,263173.46,344173.23,2012,NaN,San Francisco,NaN
36184,36185,Darryl Hunter,"Captain, Fire Suppression",145659.03,115673.73,32610.00,49571.51,293942.76,343514.27,2012,NaN,San Francisco,NaN
36185,36186,Trent Rhorer,Dept Head V,253649.80,0.00,6486.00,80660.61,260135.80,340796.41,2012,NaN,San Francisco,NaN
36186,36187,Michael Delane,"Captain, Fire Suppression",147069.71,113372.94,33012.58,45978.15,293455.23,339433.38,2012,NaN,San Francisco,NaN
36187,36188,Barbara Garcia,Dept Head V,253435.69,0.00,6486.00,79477.91,259921.69,339399.60,2012,NaN,San Francisco,NaN
36188,36189,Susan Currin,"Adm, SFGH Medical Center",254878.82,0.00,9486.00,75003.33,264364.82,339368.15,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148620,148621,India C Sabater,Recreation Leader,15.50,0.00,0.00,0.16,15.50,15.66,2014,NaN,San Francisco,NaN
148621,148622,Kenneth Mackey,Transit Operator,0.00,0.00,15.35,0.00,15.35,15.35,2014,NaN,San Francisco,NaN
148622,148623,Jacqueline Hubbard,Senior Clerk,0.00,0.00,13.77,0.00,13.77,13.77,2014,NaN,San Francisco,NaN
148623,148624,Deborah B Honig,Attorney (Civil/Criminal),0.00,0.00,13.35,0.13,13.35,13.48,2014,NaN,San Francisco,NaN
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [14]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [18]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [19]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [21]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [22]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [25]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [106]:
df = sal[sal['Year']==2013]
cnt = df['JobTitle'].value_counts() == 1
cnt[:].value_counts()[1]

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [86]:
sal[sal['JobTitle'].astype(str).str.contains("Chief")]['Id'].count()

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [69]:
sal['title_len'] = sal['JobTitle'].str.len()
new = pd.DataFrame()
new[['TotalPayBenefits', 'title_len']] = sal[['TotalPayBenefits','title_len']]
new.corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

# Great Job!